<section class="articles featured">
    <div class="container__inner flow">
        <h2 class="section-title text-center tt-upper">Featured Article</h2>
        <ul role="list" class="articles__list flow">
            {%- for post in collections.featured | reverse |  limitTo(1) -%}
                {% include '_article-snippet.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</section>