@use 'external-stylesheets/' as *;
/* --------------------------------------------------------
3.0 HTML Elements
    ├── 3.1 Structure
    ├── 3.2 Text
    ├── 3.3 Anchors
    └── 3.4 Images
-------------------------------------------------------- */

/* --------------------------------------------------------
3.0 HTML Elements
#html
-------------------------------------------------------- */

// 3.1  Structure
// #structure
// --------------------------------------------------------
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-padding-top: var(--flow-600);
}

body {
    background-color: hsl( var(--clr-bg) );
    color: hsl( var(--clr-black));
    font-family: var(--ff-sans);
    font-size: var(--fs-50);
}

// 3.2  Text
// #text
// --------------------------------------------------------
h1, h2, h3, h4, h5, h6, p {
    line-height: 150%;
    margin-bottom: var(--flow-200);
}

h1 { font-size: var(--fs-300); }
h2 { font-size: var(--fs-200); }
h3 { font-size: var(--fs-100); }
h4, h5, h6 { font-size: calc( var(--fs-100) * .75 ); }

p { 
    line-height: 200%; 
}

hr {
    background-color: hsl( var(--clr-secondary) / .5 );
    margin-bottom: var(--flow-200);
    opacity: 0.25;
}

hr.h-rule {
    @include h-rule;
    @include center-margins;
}

// 3.3  Anchors
// #anchors
// --------------------------------------------------------
a#anchor--home {
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 0;
}

a {
    color: hsl( var(--clr-secondary ) );
    display: inline-block;
    position: relative;

    &::after {
        background-color: hsl( var(--clr-secondary) );
        content: ('');
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s;
        width: 0;
    }

    &:hover::after {
        transition: all 0.5s ease-in-out;
        width: 100%;
    }
}

// 3.4  Images
// #images
// --------------------------------------------------------
img {

    &.bg__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        
        &.cover {
            object-fit: cover;
        }

        &.contain {
            object-fit: contain;
        }
    }
}

// 3.10 Classes
// #classes
// --------------------------------------------------------
.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}