@use 'breakpoints' as *;
/* --------------------------------------------------------
Layout
-------------------------------------------------------- */
// Flow Space
$flow-space: (
    xxl: 5rem,
    xl: 4rem,
    lg: 3rem,
    med: 2rem,
    sm: 1rem,
    auto: "auto"
);
// Flow Space CSS Variables
// i.e. --flow-med
:root {
    @each $flow, $value in $flow-space {
        --flow-#{$flow}: #{$value};
    }
}

// Border Width
$border-width: (
    xxl: 3rem,
    xl: 2rem,
    lg: 1rem,
    med: .75rem,
    sm: .25rem
);
// Border Width CSS Variables
// i.e. --border-sm
:root {
    @each $width, $value in $border-width {
        --border-#{$width}: #{$value};
    }
}

// Border Radius
$border-radius: (
    xxl: 2rem,
    xl: 1.5rem,
    lg: 1rem,
    med: 0.5rem,
    sm: 0.25rem
);
// Border Radius CSS Variables
// i.e. --radius-med
:root {
    @each $radius, $value in $border-radius {
        --radius-#{$radius}: #{$value};
    }
}

body {
    background-color: var(--clr-bw-25);
    color: var(--clr-bw-700);
}

img {

    &.bg__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        
        &.cover {
            object-fit: cover;
        }

        &.contain {
            object-fit: contain;
        }
    }
}

.container {
    position: relative;

    &.bg {
        background-color: var(--clr-bw-900);

        &.invert {
            color: var(--clr-bw-0);
        }
    }

    &__inner {
        max-width: 85ch;
        padding: var( --flow-xl );
        position: relative;
        width: 95%;
        z-index: 1;

        @include center-margins;
    }
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--flow-lg);
    flex-direction: row;
    justify-content: center;
}

.flow {
    margin-bottom: var(--flow-sm);
    padding: var(--flow-med) var(--flow-sm);
}

.float {
    display: block;
    float: left;
    margin-bottom: var(--flow-sm);
    margin-right: var(--flow-med);
    margin-top: var(--flow-sm);
    max-width: 25ch;
    width: 50%;

    &.right {
        float: right;
        margin-left: var(--flow-lg);
        margin-right: 0;
    }

    & > img {
        display: block;
        height: 100%;
        object-position: contain;
        width: 100%;
    }

    .caption {
        color: var(--clr-bw-400);
        font-style: oblique;
        display: block;
        text-align: center;
    }
}

.grid {
    display: grid;
    align-items: center;
    gap: var(--flow-sm);
    grid-template-columns: auto;
    justify-content: center;

    & > .center {
        justify-self: center;
    }
}