@use 'external-stylesheets/' as *;
/* --------------------------------------------------------
Molecules

1.0 Buttons
2.0 Floats
-------------------------------------------------------- */

/* --------------------------------------------------------
1.0 Buttons
#buttons
-------------------------------------------------------- */
.btn {
    background-color: var(--clr-secondary-100);
    color: var(--clr-bw-0);
    display: inline-block;
    clear: both;
    letter-spacing: 1px;
    padding: var(--flow-sm) var(--flow-xl);
    transition: all ease-in-out 255ms;
    text-align: center;
    text-decoration: none;
    text-transform: var(--tt-upper);

    &:hover {
        background-color: var(--clr-secondary-700);
    }

    &.stop {
        background-color: var(--clr-stop-400);
        color: var(--clr-stop-50);
        
        &:hover {
            background-color: var(--clr-stop-100);
            color: var(--clr-stop-400);
        }
    }

    &.go {
        background-color: var(--clr-go-400);
        color: var(--clr-go-50);

        &:hover {
            background-color: var(--clr-go-100);
            color: var(--clr-go-700);
        }
    }
    
}

/* --------------------------------------------------------
2.0 Floats
#floats
-------------------------------------------------------- */
.float {
    display: block;
    float: none;
    margin-bottom: var(--flow-sm);
    margin-top: var(--flow-sm);

    @include media('>=tablet') {
        float: left;
        margin-right: var(--flow-med);
        width: 40%;
    }

    &.right {
        @include media('>=tablet') {
            float: right;
            margin-left: var(--flow-lg);
            margin-right: 0;
        }
    }

    & > img {
        display: block;
        height: 100%;
        object-position: contain;
        width: 100%;
    }

    .caption {
        color: var(--clr-bw-400);
        font-style: oblique;
        display: block;
        text-align: center;
    }
}