@use 'breakpoints' as *;
/* --------------------------------------------------------
Typography Variable / Utility Classes
-------------------------------------------------------- */
// Font Sizes
$type-scale: (
    small: (
        50: 1rem,
        100: 1.5rem,
        200: 1.75rem,
        300: 2rem,
        400: 3rem,
        500: 4rem,
        600: 5rem
    ),
    large: (
        50: 1rem,
        100: 1.5rem,
        200: 2rem,
        300: 3rem,
        400: 4rem,
        500: 5rem,
        600: 6rem
    )
);

:root {
    // Font Size CSS Variables
    // i.e. --fs-100
    @each $screen-size, $font-size in $type-scale {
        @if $screen-size == small {
            @each $size, $value in $font-size {
                --fs-#{$size}: #{$value};
            }
        } @else {
            @include media('>=tablet') {
                @each $size, $value in $font-size {
                    --fs-#{$size}: #{$value};
                }
            }
        }
    }
}

// Font Size Utility Classes
// i.e. class="fs-400"
@each $screen-size, $font-size in $type-scale {
    @if $screen-size == small {
        @each $size, $value in $font-size {
            .fs-#{$size} { font-size: #{$value} };
        }
    } @else {
        @include media('>=tablet') {
            @each $size, $value in $font-size {
                .fs-#{$size} { font-size: #{$value} };
            }
        }
    }
}

// Font Weights
$font-weight: (
    900: 900,
    700: 700,
    400: 400,
    300: 300,
    200: 200
);

:root {
    // Font Weight CSS Variables
    // i.e. --fw-400
    @each $weight, $value in $font-weight {
        --fw-#{$weight}: #{$value};
    }
}

// Font Weight Utility Classes
// i.e. class="fw-900"
@each $weight, $value in $font-weight {
    .fw-#{$weight} { font-weight: #{$value} };
}

// Text Transformations
$text-trans: (
    upper: uppercase,
    lower: lowercase,
    caps: capitalize,
    normal: normal
);

:root {
    // Text Transformation CSS Variables
    // i.e. --tt-upper
    @each $trans, $value in $text-trans {
        --tt-#{$trans}: #{$value};
    }
}

// Text Transformation Utility Classes
// i.e. class="tt-upper"
@each $trans, $value in $text-trans {
    .tt-#{$trans} { text-transform: #{$value} };
}

// Text Alignments
$text: (
    left: left,
    center: center,
    right: right,
);

// Text Alignment Utility Classes
// i.e. class="text-left"
@each $align, $value in $text {
    .text-#{$align} { text-align: #{$value} };
}

/* --------------------------------------------------------
Typography Styles
-------------------------------------------------------- */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-50);
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 150%;
    margin-bottom: var(--flow-sm);
}

h1 { font-size: var(--fs-300); }
h2 { font-size: var(--fs-200); }
h3 { font-size: var(--fs-100); }
h4, h5, h6 { font-size: calc( var(--fs-100) * .75 ); }

p { line-height: 200%; }