// Import Google Fonts (if that's your thing)
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montez&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*
// Use @font-face if using locally stored web fonts instead of Google Fonts
@font-face {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: normal;
    src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
      url("../fonts/baloo-2-v1-latin-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 500;
    src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
      url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
    font-display: swap;
  }
  */

:root {
    // Font Family CSS Variables
    --ff-display: 'Montez', cursive;
    --ff-sans: 'Montserrat', sans-serif;
    --ff-serif: 'Montaga', serif;
    --ff-awesome: 'FontAwesome';
}

// Setup Styles
@import "01_setup/destyle";

// Theme Styles
@import "02_theme/base";
@import "02_theme/theme";

// Utility Styles
@import "03_utility/mixins";
@import "03_utility/layout";
@import "03_utility/content";
@import "03_utility/buttons";
@import "03_utility/images";

// Section Styles
@import "04_sections/header";
@import "04_sections/footer";
@import "04_sections/brand";
@import "04_sections/nav";
@import "04_sections/jumbotron";
@import "04_sections/blog";
@import "04_sections/articles";
@import "04_sections/cta";
@import "04_sections/pagination";