/* --------------------------------------------------------
Color Maps
--------------------------------------------------------- */
// i.e. --clr-primary-400
$colors: (
    primary: (
        700: hsl(356, 58%, 20%),
        400: hsl(356, 58%, 50%),
        100: hsl(356, 58%, 80%),
    ),
    secondary: (
        700: hsl(17, 15%, 18%),
        400: hsl(17, 15%, 36%),
        100: hsl(43, 32%, 91%),
    ),
    tertiary: (
        700: hsl(206, 51%, 17%),
        400: hsl(206, 51%, 37%),
        100: hsl(206, 51%, 67%),
    ),
    bw: (
        900: hsl(218, 12%, 0%),
        800: hsl(218, 12%, 10%),
        700: hsl(218, 12%, 20%),
        600: hsl(218, 12%, 30%),
        500: hsl(218, 12%, 40%),
        400: hsl(218, 12%, 50%),
        300: hsl(218, 12%, 60%),
        200: hsl(218, 12%, 70%),
        100: hsl(218, 12%, 80%),
        75: hsl(218, 12%, 85%),
        50: hsl(218, 12%, 90%),
        25: hsl(218, 12%, 95%),
        0: hsl(218, 12%, 100%),     
    ),
    stop: (
        700: hsl(356, 58%, 20%),
        400: hsl(356, 58%, 50%),
        100: hsl(356, 58%, 80%),
        50: hsl(356, 58%, 95%),
    ),
    caution: (
        700: hsl(52, 86%, 38%),
        400: hsl(52, 86%, 58%),
        100: hsl(52, 86%, 78%),
        50: hsl(52, 86%, 98%),
    ),
    go: (
        700: hsl(80, 60%, 15%),
        400: hsl(80, 60%, 35%),
        100: hsl(80, 60%, 55%),
        50: hsl(80, 60%, 75%),
    ),
);

// i.e. --op-50
$opacity: (
    100: 1.0,
    75: 0.75,
    50: 0.50,
    25: 0.25,
);

/* --------------------------------------------------------
Typography Maps
--------------------------------------------------------- */
// i.e. --fw-400
$font-weight: (
    900: 900,
    700: 700,
    400: 400,
    300: 300,
    200: 200
);

// i.e. --fs-100
$type-scale: (
    small: (
        50: 1rem,
        100: 1.5rem,
        200: 1.75rem,
        300: 2rem,
        400: 3rem,
        500: 4rem,
        600: 5rem
    ),
    large: (
        50: 1rem,
        100: 1.5rem,
        200: 2rem,
        300: 3rem,
        400: 4rem,
        500: 5rem,
        600: 6rem
    )
);

// i.e. --tt-upper
$text-trans: (
    upper: uppercase,
    lower: lowercase,
    caps: capitalize,
    normal: normal
);

$text: (
    left: left,
    center: center,
    right: right,
);

/* --------------------------------------------------------
Spacing Maps
--------------------------------------------------------- */
// i.e. --flow-med
$flow-space: (
    xxl: 5rem,
    xl: 4rem,
    lg: 3rem,
    med: 2rem,
    sm: 1rem
);

// i.e. --border-sm
$border-width: (
    xxl: 3rem,
    xl: 2rem,
    lg: 1rem,
    med: .75rem,
    sm: .25rem
);

// i.e. --radius-med
$border-radius: (
    xxl: 2rem,
    xl: 1.5rem,
    lg: 1rem,
    med: 0.5rem,
    sm: 0.25rem
);