@use '../01-config' as *;

body {
    background-color: var(--clr-bw-25);
    color: var(--clr-bw-700);
    font-family: var(--ff-sans);
    font-size: var(--fs-50);
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 150%;
    margin-bottom: var(--flow-sm);
}

h1 { font-size: var(--fs-300); }
h2 { font-size: var(--fs-200); }
h3 { font-size: var(--fs-100); }
h4, h5, h6 {
    font-size: calc( var(--fs-100) * .75 );
}

img {

    &.bg__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        
        &.cover {
            object-fit: cover;
        }

        &.contain {
            object-fit: contain;
        }
    }
}