@use '../01-config' as *;

.btn {
    background-color: var(--clr-go-400);
    color: var(--clr-bw-25);
    display: inline-block;
    clear: both;
    padding: var(--flow-sm) var(--flow-xl);
    text-align: center;
}