@use '../01-config' as *;

.flow {
    margin-bottom: var(--flow-sm);
    padding: var(--flow-med) var(--flow-sm);
}

.float {
    display: block;
    float: left;
    margin-bottom: var(--flow-sm);
    margin-right: var(--flow-med);
    margin-top: var(--flow-sm);
    max-width: 25ch;
    width: 50%;

    &.right {
        float: right;
        margin-left: var(--flow-lg);
        margin-right: 0;
    }

    & > img {
        display: block;
        height: 100%;
        object-position: contain;
        width: 100%;
    }

    .caption {
        color: var(--clr-bw-400);
        font-style: oblique;
        display: block;
        text-align: center;
    }
}