@use '../01_setup/breakpoints' as *;
/* --------------------------------------------------------
Pagination
-------------------------------------------------------- */
.pagination {
    
    &__inner.grid {
        justify-content: start;
        width: 100%;

        a.btn[data-direction="forwards"] {
            justify-self: start;
        }

        a.btn[data-direction="backwards"] {
            justify-self: end;
        }
    }
}