@use '../01_setup/breakpoints' as *;
/* --------------------------------------------------------
Site Content Container
-------------------------------------------------------- */
.site__content {
    padding-top: calc( var( --flow-xxl ) * 1 );
    width: 100%;

    & > section {
        .container {
            padding: var( --flow-xxl );
            @include center-margins;
        }
    }
}