@use '../01-config' as *;

.articles {
    background-color: var(--clr-go-50);

    .section-title {
        color: var(--clr-go-400);
        font-size: var(--fs-100);
    }

    .articles__list {
        li {
            display: flex;
            flex-wrap: nowrap;
            gap: var(--flow-xl);
            margin-bottom: var(--flow-xxl);

            &:last-of-type {
                margin-bottom: 0;
            }
            
            & > *:nth-child(1) {
                flex: 1 1 70%;
                min-width: 25ch;
            }
    
            & > *:nth-child(2) {
                flex: 1 1 30%;
                min-width: 15ch;
            }
    
            aside > img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            
        }
    }
}