<li>
    <article class="snippet">
        <h3 class="snippet__title">
            <a href="{{ post.url }}">
                {{ post.data.title }}
            </a>
        </h3>
        <p class="snippet__meta">
            <span class="snippet__author">{{ post.data.author }}</span> &bull;
            <span class="snippet__date">{{ post.date | postDate }}</span>
        </p>
        <p class="snippet__body">{{ post.data.description }}</p>
        <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
    </article>
    <aside><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image"></aside>
</li>