<section id="articles featured container flow" class="articles">
    <div class="container__inner flow">
        <h2 class="section-title text-center tt-upper">Featured Article</h2>
        <ul role="list" class="articles__list flow">
            {%- for post in collections.featured | reverse |  limitTo(1) -%}
                {% include 'njk/blocks/article-snippet.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</section>