<section id="articles latest container" class="articles">
    <div class="container__inner flow grid">
        <h2 class="section-title text-center tt-upper">Latest Articles</h2>
        <ul role="list" class="articles__list flow">
            {%- for post in collections.post | reverse | limitTo(3) -%}
                {% include 'njk/blocks/article-snippet.njk' %}
            {%- endfor -%}
        </ul>
        <a href="/blog/" class="btn center">See All Articles</a>
    </div>
</section>