---
title: Homepage
layout: 'njk/templates/home.njk'
primaryCTA:
  title: 'Digital Marketing is our bread & butter'
  summary: 'Let us help you create the perfect campaign with our multi-faceted team of talented creatives.'
  buttonText: 'See our work'
  buttonUrl: '/work'
  image: '/images/bg/toast.jpg'
  imageAlt: 'Buttered toasted white bread'
---

{% include 'njk/blocks/jumbotron.njk' %}
{% include 'njk/blocks/featured-articles.njk' %}

{% set ctaContent = primaryCTA %} 
{% include "njk/blocks/cta.njk" %} 

{% include 'njk/blocks/latest-articles.njk' %}