{% include '../blocks/site-head.njk' %}
<body class="site{{pageClass}}">

    {% include '../sections/header.njk' %}

    <main tabindex="-1" class="wrapper site__content" id="content">
        <a name="home" id="anchor--home">Home</a>
        {{ content | safe }}

        {% set ctaContent = cta %} 
        {% include '../blocks/cta.njk' %}
    </main>
    
    {% include '../sections/footer.njk' %}

    <script src="/js/index.js"></script>
    <script src="/js/netlify-cms.js"></script>
    <script src="/js/int-observers.js"></script>
</body>
</html>