@use '../01-config' as *;

#site__header {
    display: grid;
    padding: 1rem 3rem;
    position: fixed;
    text-align: center;
    transition: all ease-in-out 255ms;
    width: 100%;
    z-index: 999;
    
    nav.site-nav {

        ul {
            padding: 0;

            li {
                padding: 1rem .5rem;
            }
        }
    }
}

#site__header.scrolled {
    background-color: var(--clr-primary-400);
    box-shadow: 0 0 1rem var(--clr-bw-600);
    padding: 2rem 1rem;
}

@include media('>=tablet') {
    #site__header {
        text-align: left;

        nav.site-nav {
            all: unset;
            align-items: center;
            grid-column: 2 / span 2;
            grid-template-columns: 1fr 1fr;
            display: flex;
            justify-content: flex-end;
            
            ul {
                background-color: transparent;
                display: flex;

                li {
                    margin-bottom: 0;
                    margin-left: var(--flow-space-100);

                    a {
                        color: var(--clr-secondary-700);
                        opacity: 1;
                        position: relative;
                    }

                    a:hover {
                        color: var(--clr-secondary-100);
                    }

                    a::before {
                        content: '';
                        display: block;
                        height: 10px;
                        position: absolute;
                        top: -2rem;
                        left: 0;
                        right: 0;
                        transform: scaleY(0);
                        transform-origin: top;
                        transition: transform ease-in-out 250ms;
                    }

                    a:hover::before {
                        transform: scaleY(1);
                        
                    }
                }
            }
        }

        .nav-toggle-label {
            display: none;
        }
    }

    #site__header.scrolled {
        nav.site-nav {
            ul {
                li {
                    a::before {
                        top: -3rem;
                    }
                }
            }
        }
    }
}