@use '../01-config' as *;

#site__header {
    display: grid;
    padding: 1rem 3rem;
    position: fixed;
    text-align: center;
    transition: all ease-in-out 255ms;
    width: 100%;
    z-index: 999;
    
    nav.site-nav {

        ul {
            padding: 0;

            li {
                padding: var(--flow-sm) calc(var(--flow-sm) * .5);
            }
        }
    }
}

#site__header.scrolled {
    background-color: var(--clr-bw-0);
    box-shadow: 0 0 1rem var(--clr-bw-600);
    padding: var(--flow-med) var(--flow-sm);
}

@include media('>=tablet') {
    #site__header {
        text-align: left;
    }
}