@use '../01-config' as *;

#jumbotron {
    padding: 0;
    padding-bottom: var(--flow-xxl);
    padding-top: var(--flow-xxl);
    
    .container__inner {    
        display: flex;
        flex-direction: column-reverse;

        aside > img {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }

    @include media('>=desktop') {
        .container__inner {
            flex-wrap: wrap;
            flex-flow: row-reverse;

            & > *:nth-child(1) {
                flex: 1 1 70%;
                min-width: 25ch;
            }

            & > *:nth-child(2) {
                flex: 1 1 30%;
                min-width: 15ch;
            }
        }
    }

    &.article__header {
        padding-bottom: 0;
        padding-top: 0;

        .container__inner {
            padding-bottom: var(--flow-sm);
            padding-top: var(--flow-sm);
        }
    }
}